.shiny-text {
  color: rgba(0, 0, 0, 0.64); /* Softer black for elegant text */

  background: linear-gradient(
    120deg,
    rgba(18, 18, 18, 0) 40%,
    rgba(255, 255, 255, 0.85) 50%,
    rgba(195, 155, 26, 0) 60%
  );
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  display: inline-block;
  animation: shine 5s linear infinite;
}

@keyframes shine {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: -100%;
  }
}

.shiny-text.disabled {
  animation: none;
}
